<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Edad</th>
        <th scope="col">Genero</th>
        <th scope="col">Más Información</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let persona of personas; index as i" [class.selected]="persona === actual">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ persona.nombre }}</td>
        <td>{{ persona.edad }}</td>
        <td>{{ persona.genero }}</td>
        <td> <button class="btn btn-lg btn-outline-primary" (click)="showModal(persona)">Más</button></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container">
  <p *ngFor="let alert of alerts">
    <ngb-alert [type]="alert.type" (close)="close(alert)">
      <strong> Generado con ng-bootstrap </strong> {{ alert.message }}
    </ngb-alert>
  </p>
  <p>
    <button type="button" class="btn btn-primary" (click)="ressetAlerts()">Borrar Historial</button>
  </p>
</div>

<block-ui>
</block-ui>